<section data-ng-controller="FitnessassessmentController" data-ng-init="findOneCompany()">
  <span>{{company.created | date:'medium'}}</span> /
  <span>{{company.owner.name}}</span>
  <h2>{{company.name}}</h2>
  <div data-ng-if="hasAuthorization(company)">
    <a class="btn" href="/#!/company/{{company._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="removeCompany(company);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>{{company.content}}</div>

  <h2>Teams</h2>
  <a href="/#!/fitnessassessment/company/{{company._id}}/teams" class="btn btn-primary">Manage Teams</a>
  
</section>
