<h1 class="content-heading">Print</h1>
<form class="standard checklist">
	<ul>
		<li class="checklist__item checklist__all">
			<span class="checkbox-wrapper">
				<input type="checkbox">
			</span><!--checkbox-wrapper-->
			<label>
				Check All
			</label>
		</li><!--checklist__all-->
		<li class="checklist__item">
			<span class="checkbox-wrapper">
				<input type="checkbox">
			</span><!--checkbox-wrapper-->
			<label>
				Goals
			</label>
		</li><!--checklist__item-->
		<li class="checklist__item">
			<span class="checkbox-wrapper">
				<input type="checkbox">
			</span><!--checkbox-wrapper-->
			<label>
				Measurements
			</label>
		</li><!--checklist__item-->
		<li class="checklist__item checklist__item--parent">
			<span class="checkbox-wrapper">
				<input type="checkbox" data-parent="progress">
			</span><!--checkbox-wrapper-->
			<label>
				Progress Charts
			</label>
		</li><!--parent-->
		<li class="checklist__item checklist__item--child">
			<span class="checkbox-wrapper">
				<input type="checkbox" data-parent="progress">
			</span><!--checkbox-wrapper-->
			<label>
				Weight
			</label>
		</li><!--.checklist__item-child-->
		<li class="checklist__item checklist__item--child">
			<span class="checkbox-wrapper">
				<input type="checkbox" data-parent="progress">
			</span><!--checkbox-wrapper-->
			<label>
				BMI
			</label>
		</li><!--.checklist__item-child-->
		<li class="checklist__item checklist__item--child">
			<span class="checkbox-wrapper">
				<input type="checkbox" data-parent="progress">
			</span><!--checkbox-wrapper-->
			<label>
				Lean Body Fat
			</label>
		</li><!--.checklist__item-child-->
		<li class="checklist__item">
			<span class="checkbox-wrapper">
				<input type="checkbox">
			</span><!--checkbox-wrapper-->
			<label>
				Measurements
			</label>
		</li><!--checklist__item-->
	</ul><!--checklist-->
	<input type="submit" value="print">
</form>
